.maindivofloginform {
  background-image: url("https://wallpapercave.com/wp/wp4318714.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}
.box1 {
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  background-color: aqua;
  border-radius: 50px;
  height: 440px;
  width: 340px;
}

.text {
  font-size: 17px;
  padding: 10px;
  color: black;
}
.input {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}
input[type="submit"],
input[type="reset"] {
  height: 35px;
  width: 70px;
  margin-left: 55px;
  margin-top: 33px;
  background-color: cyan;
}
input:focus {
  outline: none;
}
/* login and sighup css :start */
.upar_nu_login {
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 30px;
}
.spanoflogin {
  padding-right: 10px;
}
.hrline {
  width: 100px;
}

.table {
  padding: 20px;
}
.tableofsubmit {
  padding: 50px;
  padding-left: 80px;
}
.tdofreset {
  padding-left: 30px;
}

td{
  border: none !important;
}
