body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.baki_no_masalo
{
  float: left;
  margin-top: 100px;
}
.mainclass
{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;

}
a.navlink{
  color: brown  !important;
}
