.navbar {
  background-color: #060b26;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-bars {
  font-size: 2rem;
  background: none;
}
.nav-menu {
  background-color: #060b26;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 9px;
  margin-left: 48px;
}

.nav-text a:hover {
  text-decoration: none;
  color: darkgrey;
  background-color: transparent;
}
.navbar-toggle {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.apple_ixon_span {
  font-size: 90px;
}
.appleicon {
  color: white;
  font-size: 50px !important;
  padding: 5px;
}

.name_in_webnav {
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
}

.appleicon:hover {
  cursor: pointer;
  color: wheat;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
  float: left;
}
.topbar_of_slider {
  color: white;
  height: 58px;
  width: 200px;
  margin-right: 41px;
  font-size: 13px;
  margin-top: 20px;
  cursor: pointer;
}
.topbaruser {
  margin-left: 70px;
  font-size: 50px !important;
}
.Home_nav {
  margin-top: 30px;
}
.icon5 {
  padding-right: 5px;
  margin-right: 5px;
}
.div_of_logout {
  right: 0px;
  display: flex;
  justify-content: end;
}
.logo_of_logout {
  color: white;
  cursor: pointer;
}
.icon_of_logout {
  color: white;
  
}
