@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
}

.grow {
  font-size: 30px;
}

.wehave {
  font-size: 22px;
}

.gets {
  letter-spacing: 1px;
  font-size: 15px;
  border: 1px solid blueviolet;
  border-radius: 50px;
  text-decoration: none !important ;
  color: blueviolet !important;
  padding: 5px 5px !important;
}

.gets:hover {
  background-color: blueviolet;
  color: whitesmoke !important;
  transition: 0.5s;
}

.homeimg {
  animation: up-down 2s ease-out infinite alternate-reverse both;
}
@keyframes up-down {
  to {
    transform: translateY(20px);
  }
  from {
    transform: translateY(-10px);
  }
}
.search_bar {
  text-align: center;
}
.search_inp {
  width: 200px;
  height: 35px;
  margin: 30px 0;
  padding: 5px 5px;
  border-radius: 30px;
  outline: none;
}
.unplach_img_div {
  text-align: center !important;
}
.unplach_img {
  border-radius: 50px;
}

.main_div_search {
  width: 50% !important;
  float: left;
  border-radius: 50px;
}
.innerdiv {
  margin-left: 70px;
  height: 455px;
  width: 473px;
  background-color: lightcyan;
  box-shadow: 4px 6px 11px 0px black;
  border-radius: 50px;
}

/* weather app mate no css :start */

.box {
  box-shadow: 4px 6px 11px 0px black;
  width: 400px;
  margin-top: 50px;
  height: 400px;
  border-radius: 50px;
  box-shadow: 0 2px 30px rgba(black, 0.2);
  background: lightcyan;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: 0.3;
  position: absolute;
  top: 120%;
  left: 50%;
  background: yellow;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
  z-index: 1;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  z-index: 2 !important;
  opacity: 0.2;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  z-index: 3 !important;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45%;
  z-index: 4;
}

.location {
  text-align: center;
  font-weight: 800;
}

.date {
  text-align: center;
  margin-top: 5%;
  color: lighten(grey, 10%);
  font-size: 70%;
}

.temp {
  margin-top: 10%;
  text-align: center;
}

.weathercon {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.icon {
  font-size: 35px !important;
}
.btn-sub-of-contact {
  background-color: rgb(75, 199, 75);
  border-radius: 5px;
  float: right;
  margin-right: 20px;
}

.btn-can-of-contact {
  background-color: rgb(214, 79, 79);
  border-radius: 5px;
  float: right;
}
@media (max-width: 768px) {
  .box1 {
    width: 100%;
    height: 80%;
  }
}

@media (max-width: 600px) {
  .box {
    width: 90vw;
    height: 80vh;
  }
  .wave {
    top: 10%;
  }

  .weathercon {
    font-size: 5em;
  }

  .info {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .box1 {
    width: 100%;
    height: 100%;
  }
}

@media (max-height: 500px) {
  .box {
    height: 80vh;
  }

  .wave {
    top: 115%;
  }
}
